/* filepath: c:\Users\Genesis Pardo\Desktop\EasySmileDentalClinic\css\footer.css */
footer.top-header {
    background-color: #d4d4d4; /* Light gray background */
}

footer .contact-info a,
footer .social-media a {
    color: #333;
}

footer .social-media a {
    background-color: rgba(0, 0, 0, 0.1);
}

footer .social-media a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}