 <!-- Rest of your content remains the same -->
    <div class="services-banner">
        Services Offered
    </div>
    
    <!-- Main content -->
    <div class="services-grid">
        <!-- Service rows and items remain unchanged -->
        <div class="services-row">
            <div class="service-item">
                <img src="client/static/images/braces_icon.png" alt="Service 1">
                <span>Braces</span>
            </div>
            <div class="service-item">
                <img src="client/static/images/retainers_icon.png" alt="Service 2">
                <span>Retainers</span>
            </div>
            <div class="service-item">
                <img src="client/static/images/surgeries_icon.png" alt="Service 5">
                <span>Surgeries</span>
            </div>
        </div>
        <div class="services-row">
            <div class="service-item">
                <img src="client/static/images/checkup_icon.png" alt="Service 4">
                <span>Checkup</span>
            </div>
            <div class="service-item">
                <img src="client/static/images/deep_cleaning_icon.png" alt="Service 5">
                <span>Deep Cleaning</span>
            </div>
            <div class="service-item">
                <img src="client/static/images/tooth_extraction_icon.png" alt="Service 4">
                <span>Tooth Extractions</span>
            </div>
            </div>
        </div>
        </div>
    </div>